<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../stylesheets/normalize.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/application.css">
  <title>CheckIn App</title>
</head>
<body>

  <div class="checkin">
    <img src="../assets/green_check.png" alt="checkmark"/>
    <br>
    <span>YOU HAVE SUCCESSFULLY CHECKED IN FOR YOUR APPOINTMENT WITH __DOCTOR__ ON __DATE__ AT __TIME__ AT __LOCATION__</span>
  </div>

  <div class="front-desk">
    <span>PLEASE VISIT THE FRONT DESK PRIOR TO YOUR APPOINTMENT</span>
  </div>

</body>
</html>
