<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>CheckIn App</title>
</head>
<body>

  <div class="top-bar">
    <img src="../assets/carecloud_logo.png" alt="Care Cloud Logo"/>
  </div>

  <div class="appointments">

    <h2>UPCOMING APPOINTMENTS</h2>

    <label for="date">Date</label>
    <br>
    <label for="time">Time</label>
    <br>
    <label for="doctor">Doctor</label>
    <br>
    <label for="address">Address</label>

    <div class="appoitment-buttons">
    <a href="update_personal.html"><input type="button" value="CONFIRM"></a>
      <br>
      <input type="button" value="CHECK IN">
    </div>

  </div>

</body>
</html>
