<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../stylesheets/normalize.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/application.css">
  <title>CheckIn App</title>
</head>
<body class='white-background'>

  <div class="top-bar">
    <img src="../assets/carecloud_logo.png" alt="Care Cloud Logo"/>
  </div>

  <h2>PERSONAL INFORMATION</h2>

  <div class="personal-form">

    <form class="personal-form form" method="post">
      <label for="name">NAME:</label><br>
      <input type="text" placeholder="name"><br>
      <label for="address">ADDRESS:</label><br>
      <input type="text" placeholder="address"><br>
      <label for="city">CITY:</label><br>
      <input type="text" placeholder="city"><br>
      <label for="state">STATE:</label><br>
      <input type="text" placeholder="state"><br>
      <label for="zip-code">ZIP CODE:</label><br>
      <input type="text" placeholder="zip code"><br>
      <label for="country">COUNTRY:</label><br>
      <input type="text" placeholder="country"><br>
      <label for="drivers-license">DRIVERS LICENSE</label><br>
      <input type="text" placeholder="drivers license"><br>
      <label for="primary-phone">PRIMARY PHONE</label><br>
      <input type="text" placeholder="primary phone"><br>
      <label for="secondary-phone">SECONDARY PHONE</label><br>
      <input type="text" placeholder="secondary phone"><br>
      <label for="marital-status">MARITAL STATUS</label><br>
      <input type="text" placeholder="marital status"><br>
    </form>

    <a href="update_insurance.html"><input id='form-button' type="button" value="CONFIRM CHANGES"></a>

  </div>

</body>
</html>
