<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>CheckIn App</title>
</head>
<body>

  <div class="top-bar">
    <img src="../assets/carecloud_logo.png" alt="Care Cloud Logo"/>
  </div>

  <div class="personal-form">

    <h2>PERSONAL INFORMATION</h2>

    <form class="personal-form" method="post">
      <label for="name">NAME:</label>
      <input type="text" placeholder="name"><br>
      <label for="address">ADDRESS:</label>
      <input type="text" placeholder="address"><br>
      <label for="city">CITY:</label>
      <input type="text" placeholder="city"><br>
      <label for="state">STATE:</label>
      <input type="text" placeholder="state"><br>
      <label for="zip-code">ZIP CODE:</label>
      <input type="text" placeholder="zip code"><br>
      <label for="country">COUNTRY:</label>
      <input type="text" placeholder="country"><br>
      <label for="drivers-license">DRIVERS LICENSE</label>
      <input type="text" placeholder="drivers license"><br>
      <label for="primary-phone">PRIMARY PHONE</label>
      <input type="text" placeholder="primary phone"><br>
      <label for="secondary-phone">SECONDARY PHONE</label>
      <input type="text" placeholder="secondary phone"><br>
      <label for="marital-status">MARITAL STATUS</label>
      <input type="text" placeholder="marital status"><br>
    </form>

    <input type="button" value="CONFIRM CHANGES">

  </div>

</body>
</html>
