<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="../stylesheets/normalize.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/application.css">
  <title>CheckIn App</title>
</head>
<body class='white-background'>

  <div class="top-bar">
    <img src="../assets/carecloud_logo.png" alt="Care Cloud Logo"/>
  </div>

  <h2>UPLOAD DOCUMENTS</h2>

  <p>IF YOU MADE CHANGES TO YOUR PERSONAL INFORMATION OR NEED TO UPDATE YOUR INSURANCE INFORMATION UPLOAD YOUR ID AND INSURANCE CARD</p>

  <div class="upload-documents">
    <br>
    <a href="#"><input type='button' value='PHOTO ID'></a>
    <br>
    <a href="#"><input type='button' value='INSURANCE CARD'></a>
    <br>
  </div>

  <a href="payment.html"><input id='confirm-button' type="button" value="CONFIRM CHANGES"></a>

</body>
</html>
