<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>CheckIn App</title>
</head>
<body>

  <div class="top-bar">
    <img src="../assets/carecloud_logo.png" alt="Care Cloud Logo"/>
  </div>

  <h2>UPLOAD DOCUMENTS</h2>

  <span>IF YOU MADE CHANGES TO YOUR PERSONAL INFORMATION OR NEED TO UPDATE YOUR INSURANCE INFORMATION UPLOAD YOUR ID AND INSURANCE CARD</span>

  <br>
  <a href="#">PHOTO ID</a>
  <img src="../assets/carecloud_logo.png" alt="camera-icon"/>
  <br>
  <a href="#">INSURANCE CARD</a>
  <img src="../assets/carecloud_logo.png" alt="camera-icon"/>
  <br>

  <a href="payment.html"><input type="button" value="CONFIRM CHANGES"></a>

</body>
</html>
