<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="../stylesheets/normalize.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/application.css">
    <title>CheckIn App</title>
  </head>
  <body class='white-background'>

    <div class="top-bar">
      <img src="../assets/carecloud_logo.png" alt="Care Cloud Logo"/>
    </div>

    <div class="update-personal">
      <span>DO YOU NEED TO UPDATE YOUR PERSONAL INFORMATION?</span>
    </div>

    <form class="personal-display" method="post">

      <label for="name">John Doe</label><br>
      <label for="address">12345 NW 12 Ter</label><br>
      <label for="city">Miami</label>
      <label for="state">FL</label>
      <label for="zip-code">33131</label><br>
      <label for="country">USA</label><br>
      <label for="drivers-license">#########</label><br>
      <label for="drivers-license-state">FL</label><br>
      <label for="primary-phone">(123) 456- 6789</label><br>
      <label for="primary-phone">(123) 456- 6789</label><br>
      <label for="marital-status">Married</label><br>

    </form>

    <div class="update-buttons">
      <a href="personal_form.html"><input id='update-yes' type="button" value="YES"></a>
      <br>
      <a href="update_insurance.html"><input id='update-no' type="button" value="NO"></a>
    </div>

  </body>
</html>
